.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-container {
  background-color: #ececec;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #00796b;
}

.form-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.form-links .link-button {
  text-decoration: none;
  color: #53a8b6;
  font-weight: bold;
  margin: 10px 0;
}

.form-links span {
  color: #385170;
  margin-right: 5px;
}

.form-group {
  margin-bottom: 1.2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #004d40;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #b2dfdb;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #004d40;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

@media only screen and (max-width: 600px) {
  .login-form-container {
    padding: 1rem;
    max-width: 90%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .login-form-container {
    padding: 1.5rem;
    max-width: 85%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .login-form-container {
    max-width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .login-form-container {
    max-width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .login-form-container {
    max-width: 450px;
  }
}

