.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.user-blog-list {
  min-height: 400px !important;
  max-height: 560px !important;
  overflow-y: auto;
  padding: 1rem;
  width: 100% !important;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

