.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.recipe-modal-title {
  font-weight: bold !important;
  text-align: center !important;
  flex-grow: 1 !important;
  color: #142d4c !important;
}

.recipe-modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 600px;
  padding: 2rem;
  overflow-y: auto;
}

.close-btn {
  width: fit-content;
}

.form-field-box {
  margin-bottom: 1rem !important;
}

.form-field {
  width: 100% !important;
  margin-bottom: 1rem !important;
}

.change-img-btn {
  width: fit-content !important;
  padding: 8px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 1rem !important;
}

.img-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start !important;
  padding: 0.5rem;
  width: fit-content;
  overflow: hidden;
}

.img {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.save-btn-box {
  text-align: center;
}

.save-btn {
  margin-top: 1rem;
  width: fit-content;
}

