.blog-list-item {
  margin-bottom: 1rem !important;
  background-color: #e0e0e0;
  color: #3a4750;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.blog-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.blog-del-btn {
  color: #3a4750 !important;
}

